################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Class-begginer-Csharp/FileContentIndex
/.vs/Class-begginer-Csharp/v17
/.vs
